@use "./base.scss";

// put your custom CSS here!

.sidebar.left {
  // 기본 정렬 및 여백
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;

  // 각 요소들 스타일링
  .search-container {
    display: flex;
    justify-content: center;
    width: 100%;

    input {
      text-align: center;
    }
  }

  .page-title,
  .search,
  .folder,
   {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .darkmode{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  // Explorer 폴더 정렬 좌로
  .folder-outer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  //
  //.page-header{
  //  margin-top: 50px;
  //}


}